h2{
    background: cadetblue;
    color: white;
    width: 700px;
    height: 50px;
    text-align:center;
    margin:auto;
}
p{
    background: cadetblue;
    color: white;
    width: 700px;
    height: 50px;
    text-align:center;
    margin:auto;
}

.featuredSelect{
    text-align: center;
    margin-top: 2%;
}